.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  color: inherit;
  font-size: 2vh;
  font-weight: bold;
  padding:0.5vh;
  margin:1vh;
  text-decoration: none;
  outline: auto;
}

a:hover {
  background-color: black;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.homeTitles {
  display:flex;
  justify-content: flex-start;

  width: 100%;
  gap: 33.5vh;
}

.homeLatestInfoTitle {

  width: 52vh;
}

.homeLatestInfoAll {
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vh;
}

.homeLatestInfo {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


  position: relative;
  width:40%;
  height: 12vh;

  border: solid;
  border-radius: 1vh;
  border-color: black;
}

.homeLatestInfoCenter {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.homeLatestInfoCenterRow {
  display:flex;
  flex-direction: row;
  white-space: pre-wrap;
}

.homeLatestInnerElement {
  display: flex;
  flex-direction: column;
}

.homeLatestInfoInner {
  display:flex;
  flex-direction: row;
  justify-content: space-around;

  position: absolute;
  width: 100%; /*to fill in 100% of parent div*/
  top: 8vh;
  
  
  border-color: black;
  border-style:solid;
  border-radius: 1vh;
}

.homeLatestTransactionsInnerCenter {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  white-space: pre-wrap;

  height: 15vh; 
}

.homeLatestTransactionsInnerCenterContent {
  position: relative;
  display: flex;
  flex-direction: row;
  white-space: pre-wrap;
  height:4vh; /*space between top content and bottom*/
}

.homeLatestInfoButtons {
  position: relative;
  top: 3vh;
  height: 2.5vh;
  all:unset;
  font-weight:bold;
  outline: auto;

  cursor: pointer;
  display: inline-block;

  padding-left: 0.5vh;
  padding-right: 0.5vh;

  width: 8vh;

  height: 3vh;
}

.homeLatestInfoButtons:hover {
  background-color: black;
  color: white; 
 
}