.main {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.nftDisplay {
    display: flex;
    flex-direction: row;
    order: 2;
    flex-wrap: wrap;
    width: 81.49%;

    border:solid;
    border-radius: 0.5vh;
}

.nftImage {
    height: 20vh;
    width: 20vh;
}